footer{
    margin-top: auto;
    background-color: darkblue;
    padding: 0 0;
    width: 100%;
    ul{
        margin: 5px;
        padding-left: 0;
    }
    .logosFooter{
        height: 16px;
    };
}